<script>
  window.result = {{{result}}}
</script>
<h1>{{title}}</h1>
<span class="background"></span>
<div class="containReviews">

<div class="reviews">
  <div class="reviewsHead">
  <p>To see the reviews click on the markers </p>

  </div>
  
  <img src="/images/saludmadrid.png" id="logoHop">
  <div class="coments-elements">
    <a href="/auth/delete"><button  class="ediBt deleteBt"><span>Delete your profile</span></button></a>
  <a href="/auth/update"><button class="ediBt"><span>UPDATE your profile</span></button></a>

  </div>
  </div>
<div id="map"></div>

</div>
<!--<div class="header">


<p id="hospitales"></p>-->


</span>

<script>
  console.log({{{result}}})
  window.result = {{{result}}}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"></script>
<script src="/javascripts/script.js"></script>

