<script>
  window.result = {{{result}}}
</script>
<h1>{{title}}</h1>

<div id="map"></div>

<div class="header">

<p>Welcome to {{title}}</p>
<p id="hospitales"></p>
<button id="check">Check</button>
<a href="/updateHosp"><button id="refresh-time">Time Refresh</button></a>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"></script>
<script src="/javascripts/script.js"></script>

