
<h2></h2>



<div class="login-wrap">
	<div class="login-html">
    <form action="/auth/login" method="POST" id="form-container">
		<input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log In</label>
		<input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">
			<div class="sign-in-htm">
				<div class="group">
					<label for="username" class="label">Username</label>
					<input id="username" name="username" type="text" class="input">



				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="password" name="password" type="password" class="input" data-type="password">

				</div>



        

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/login">Signup</a>
  </p>

				
				<div class="group">
					<input type="submit" class="button" value="Log In">
				</div>
				</form>
					  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}
			</div>



			
      <form action="/auth/signup" method="POST">
			<div class="sign-up-htm">
				<div class="group">
					<label for="user" class="label">Username</label>
					<input id="username" type="text" class="input" name="username">
				</div>
				<div class="group">
					<label for="pass" class="label">Password</label>
					<input id="pass" name="password" type="password" class="input" data-type="password">
				</div>
				<div class="group">
					

<label for="rol">Tipo de usuario</label>
  <select name="role" id="" class="input">
    <option value="User">User</option>
    <option value="Consejeria">Consejeria</option>
    <option value="Hospital">Hospital</option>
  </select>


  <p class="account-message">




				</div>

        
  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/login">Signup</a>
  </p>
			
				<div class="group">
					<input type="submit" class="button" value="Sign Up">
          </form>
				</div>
							
			</div>
		</div>
	</div>
</div>