
<h2>Login</h2>

<form action="/auth/login" method="POST" id="form-container">
  <label for="username">Username</label>
  <input id="username" type="text" name="username" placeholder="JonSnow">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  <br>
  <label for="rol">Tipo de usuario</label>
  <select name="role" id="">
    <option value="User">User</option>
    <option value="Consejeria">Consejeria</option>
    <option value="Hospital">Hospital</option>
  </select>
  <br><br>
   <label for="coments">Coments</label><br>
  <textarea name="coments" id="" cols="30" rows="5"></textarea>
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>
 <a href="/auth/update/{{_id}}">Update</a> 
 <a href="/auth/show/{{_id}}">Show</a> 
  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>
