
{{!-- <header></header> --}}


 <section class="section0">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner">

                <div class="carousel-item active">
                  <div class="text-home-div">
                    
                    
                     <h2 class="text-hompage h2">Check the wait time of emergency rooms</h2>
                    <a href="/auth/login"><button class="ediBt start">Begin</button></a>
                    
                    </div>
                    <img src="images/Header.jpg" class="d-block w-100 headerImg" alt="...">
                
                    
                </div>
                
                <div class="carousel-item">
                  <div class="text-home-div">
                    
                   
                    <a href="/auth/login"><button class="ediBt start">Begin</button></a>
                    
                    </div>
                     <h2 id="chek-black" class="text-hompage h2">Check the wait time of emergency rooms</h2>
                    <img src="images/Header2.jpg" class="d-block w-100 headerImg" alt="...">
               
                </div>
                
               
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>

    </section>
    
