
<script>
  window.result = {{{result}}}
</script>
<h1>{{title}}</h1>

<div id="map"></div>

<div class="header">
<header>
<p>Welcome to {{title}}</p>
<p id="hospitales"></p>
<button id="check">Check</button>
<<<<<<< HEAD
<a href="/auth/update/{{_id}}">update</a>
KHIKNINIJNJnjnjhn
=======
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUeQXCyJDlhOtCB8JwWAk8zCxpjk6k-jo"></script>
<script src="/javascripts/script.js"></script>

>>>>>>> 6749da3017851119558763609302a598ca827f63

