body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: black;
}

.header {
    background-color: blue($color: #000000);
    // background-image: url("../images/Header.jpg");
    height: 1000px;
}

#map {
    width: 70vw;
    height: 85vh;
    box-shadow: 13px 20px 27px 4px rgba(0, 0, 0, 0.57);
    border-radius: 0px 17px 17px 0px;
    border: 2px inset rgba(28, 110, 164, 0.16);
}

.reviews {
    width: 20vw;
    height: 85vh;
    box-shadow: 13px 20px 27px 4px rgba(0, 0, 0, 0.57);
    border-radius: 17px 0px 0px 17px;
    border: 2px inset rgba(28, 110, 164, 0.16);
}

.containReviews {
    display: flex;
    flex-flow: row wrap;
}